
.homePage__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }

  .homePage_portfolio {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .homePage__sideBar_container {
    width: 330px;
    display: flex;
    position: fixed;
    display: flex;
    flex-direction: column;
    border: solid 2px var(--a__gray1);
    height: 87vh;
    overflow: auto;
    right: 170px;
  }

  /* Hide the scrollbar */
  .homePage__sideBar_container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .homePage__sideBar_container::-webkit-scrollbar-track {
    background: transparent;
  }

  .homePage__sideBar_container::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .investingStocks_container {
    min-height: 300px;
    margin-bottom: 20px;
  }

  .watchlists__container {
    height: 600px;
  }

  .watchlist__main {
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
    height: 50px;
    border-top: solid 2px var(--a__gray1);
    border-bottom: solid 2px var(--a__gray1);
  }

  .watchlist__main_lists {
    font-size: 13px;
    color: #333;
    margin-left: 10%;
    font-weight: bold;
  }


  .watchlist__main_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    width: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 70%;
    border-radius: 5px;
  }
  .watchlist__main_icon:hover {
    background-color: var(--a__gray2);
  }
  /* rgb(227, 233, 237); */

.watchlist__header {
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
  height: 50px;
}
.stocks_container_stocks {
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
  height: 50px;
  border-bottom: solid 2px var(--a__gray1);
}
.stocks_container_stocks {
  padding-left: 10%;
  font-size: 13px;
  font-weight: bold;
}
.transactions_container {
  margin-top: 100px;
}


.daily-snacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--a__gray3);
  border-radius: 5px;
  border: solid 1px var(--a__gray1);
  margin-top: 50px;
}
.daily-snacks__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #333333;
  margin-top: 10px;
}
.daily-snacks__nasdaq1 {
  font-weight: bold;
}
.daily-snacks__nasdaq1, .daily-snacks__nasdaq2, .daily-snacks__nasdaq3 {
  padding: 0 10px;
}
.red {
  color: red;
}
.green {
  color: var(--a__primary-green);
}
.daily-snacks__bottom {
  color: #333333;
  padding: 20px 10% 20px 10%;
}
.daily-snacks__closing-opening {
  font-weight: 500;
}
.daily-snacks__update {
  padding: 20px 0;
}
.daily-snacks__nasdaq {
  border-right: solid 2px var(--a__gray1);
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.daily-snacks__bitcoin {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;

}


/* home page newsfeed */
.home-page__newsFeed {
  margin-top: 80px;
  width: 100%;
  margin-left: 5%;
}

@media (max-width: 1600px) {
  .homePage_portfolio {
    width: 800px;
  }
  .daily-snacks {
    margin-left: 40px;
  }
}

@media (max-width: 1400px) {
  .daily-snacks {
    width: 95%;
  }
  .homePage__sideBar_container {
    right: 50px;
  }
}


@media (max-width: 1280px) {
  .homePage__main {
    flex-direction: column;
  }

  .homePage__sideBar_container {
    display: none;
  }

}

@media (max-width: 768px) {
  .daily-snacks__nasdaq, .daily-snacks__bitcoin {
    font-size: 14px;
  }

  .daily-snacks__nasdaq1, .daily-snacks__nasdaq2, .daily-snacks__nasdaq3 {
    padding: 0 5px;
  }

  .home-page__newsFeed {
    margin-left: 2%;
  }
}

@media (max-width: 1000px) {
  .daily-snacks__nasdaq, .daily-snacks__bitcoin {
    font-size: 12px;
  }

  .daily-snacks__nasdaq1, .daily-snacks__nasdaq2, .daily-snacks__nasdaq3 {
    padding: 0 3px;
  }

  .home-page__newsFeed {
    margin-left: 1%;
  }
}
