.about-section {
    width: 900px;
    padding: 0;
    margin: 0;
    z-index: -1;
  }

  .about-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .about-description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .about-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .about-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .about-list-item > div:first-child {
    font-weight: bold;
    margin-right: 1rem;
  }

  .about-hq-city {
    text-transform: capitalize;
  }
  @media (max-width: 1600px) {
    .about-section {
      width: 850px;
    }
  }
