#spot-form-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

#spot-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.stock__buyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buy-sell-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: rgb(193, 191, 191) solid 1px;
}

.buy-button, .sell-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buy-button.underline, .sell-button.underline {
  border-bottom: 2px solid black;
}

.buySell__entryContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
}

.buy-option-label, .amount-label {
  width: 40%;
  display: flex;
  align-items: center;
}

.buying-option {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.amount-input {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--a__primary-green);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  height: 40px;
}

.submit-button:hover {
  background-color: var(--a__primary-greenHover);
}
.buySell__buyingPower {
  margin-top: 20px;
  padding-top: 20px;
  border-top: rgb(193, 191, 191) solid 1px;
  width: 100%;
  display: flex;
  justify-content: center;
}
