.stock-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0px;
  width: fit-content;
  height: fit-content;
}

.stock-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: auto;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.stock__buyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buy-sell-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: rgb(193, 191, 191) solid 1px;
}

.buy-button, .sell-button {
  padding: 20px 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buy-button.underline, .sell-button.underline {
  border-bottom: 2px solid black;
}

.buySell__entryContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;

}

.buySell__entryContainer div {
  padding: 0 20px;
}

.buy-option-label, .amount-label {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.buying-option {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.amount-input {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 20px;
}

.submit-button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--a__primary-green);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  height: 40px;
}

.submit-button:hover {
  background-color: var(--a__primary-greenHover);
}
.buySell__buyingPower {
  margin-top: 20px;
  padding-top: 20px;
  border-top: rgb(193, 191, 191) solid 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.buySell__marketPrice {
  padding-top: 20px;
  border-bottom: rgb(193, 191, 191) solid 1px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ReviseWatchlistModalButton__container {
  width: 256px;
  margin-top: 25px;
}


.ReviseWatchlistModalButton__container button {
  color: var(--a__primary-green);
  border: solid 2px var(--a__primary-green);
  width: 100%;
  height: 40px;
  margin-right: 3%;
  border-radius: 20px;
  background-color: var(--a__gray3);
  justify-content: center;
  display: flex;
  align-items: center;
}

.ReviseWatchlistModalButton__container button:hover {
  background-color: var(--a__primary-lightGreenHover);
}
.form-error-handlers {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 10px;
  background-color: white;
  color: var(--a__orange1);
  font-size: 15px;

}
