.inv-container {
    width: 100%;
}

.inv-chart {
    width: 100%;
}

.stock__chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
    width: 900px;
    margin: 0px;
    padding: 0px;
  }

.chart-nav {
    margin-top: 20px;
}

.chart-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    height: 20%;
    width: 100%;
}


.chart-nav__button {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    border: none;
}

.chart-nav__button:hover {
    background-color: #d0d0d0;
}

.chart-nav__button.active {
    border-bottom: solid 2px black;
}

/*
.chart-nav__button {
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.chart-nav__button:hover {
    background-color: #d0d0d0;
} */

.chart__container {
    width: 900px;
    height: 900px;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 1700px) {
    .chart__container {
        width: 800px
    }
  }
  @media (max-width: 1530px) {
    .chart__container {
        width: 700px
    }
  }
  @media (max-width: 1330px) {
    .chart__container {
        width: 600px
    }
  }
  @media (max-width: 1150px) {
    .chart__container {
        width: 550px
    }
  }
